<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ path('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('admin') }}">Admin</a></li>
                {% endif %}
                {% if app.user %}
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Add post</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">Connected : {{ app.user.username }}</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('security_logout') }}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ path('security_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
