{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="col text-center">
            <h1>Login</h1>
        </div>
      </div>
    </div>
    
<div class="container col">
    <form action ="{{ path('security_login') }}" method="post">
        <div class="form-floating mb-4 mt-4">
            <input type="text" class="form-control" placeholder="Username..." required name="_username" id="username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" class="form-control" placeholder="Mot de passe..." required name="_password" id="password">
            <label for="password">Password</label>
        </div>

        <div class="col text-center mb-5">
            <button type="submit" class="btn btn-primary btn-block">Log in !</button>
        </div>
    </form>
</div>

<div class="span12 mb-4" style="text-align:center">
    <a href="{{ path('security_registration') }}" class="link-primary">Not yet registered ?</a>
</div>
{% endblock %}