{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
      <div class="row">
        <div class="col text-center">
            <h1>Registration</h1>
        </div>
      </div>
    </div>

    {{ form_start(form) }}

    {{ form_row(form.username, {'label': 'Username','attr': {'placeholder': 'Your username'}}) }}
    {{ form_row(form.email, {'attr': {'placeholder': 'Your email'}}) }}
    {{ form_row(form.password, {'label': 'Password','attr': {'placeholder': 'Your password'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirm your password','attr': {'placeholder': 'Confirm your password'}}) }}
    {{ form_row(form.firstname, {'label': 'Firstname','attr': {'placeholder': 'Enter your firstname'}}) }}
    {{ form_row(form.lastname, {'label': 'Lastname','attr': {'placeholder': 'Enter your lastname'}}) }}

    <div class="col text-center mb-5">
        <button type="submit" class="btn btn-primary btn-block">Registration !</button>
    </div>

    {{ form_end(form) }}

    <div class="span12 mb-4" style="text-align:center">
    <a href="{{ path('security_login') }}" class="link-primary">Already registered ?</a>
    </div>
{% endblock %}