{% extends 'base.html.twig' %}

{% block title %}Bibi's Blog{% endblock %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/images/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Bibi's Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
            <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    {% for article in articles %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ path('article',{id: article.id }) }}">
                            <h2 class="post-title">{{ article.title }}</h2>
                            <h3 class="post-subtitle">{{ article.content | striptags |slice(0,40) }} [...]</h3>
                        </a>
                        <p class="post-meta">
                            Posted by {{ article.user.username }} on  {{ article.creationDate | date("F d, Y")}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {%  endfor %}

                    <!-- TODO : PAGINATION -->
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% endblock %}
