{% extends 'base.html.twig' %}

{% block title %}
{{user.username}}'s handling
{% endblock %}

{% block body %}
<header class="masthead" >
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1></h1>
                    <span class="meta">
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

{{ form_start(userForm) }}

<div class="container mb-4 px-4 px-lg-5">
    <div class="row">
      <div class="col text-center">
          <button type="submit" class="btn btn-primary mt-4">Edit !</button>
      </div>
    </div>
</div>
{{ form_end(userForm) }}

{% endblock %}


