{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1></h1>
                        <span class="meta">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <h1 class="text-center mb-5">Administrator part</h1>

    <ul class="list-group align-items-center mb-5">
      <li class="list-group-item"><a href="{{ path('admin_users') }}" class="link-primary">User's handling</a></li>
      <li class="list-group-item"><a href="#" class="link-primary">Posts's handling</a></li>
    </ul>
{% endblock %}
