{% extends 'base.html.twig' %}

{% block title %}User's handling{% endblock %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1></h1>
                        <span class="meta">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <th scope="col">Roles</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
    {% for user in users %}  
      <tbody>
        <tr>
          <th scope="row">{{user.id}}</th>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td>
          {% for roles in user.roles %}
          {{roles}}, 
          {% endfor %}
          </td>
          <td><a href="{{ path('admin_edit_user', {id: user.id})}}" class="link-danger">Edit Users</a></td>
        </tr>
      </tbody>
    {% endfor %}
    </table>


{% endblock %}

