{% extends 'base.html.twig' %}

{% block title %}{{ article.user.username }}'s post{% endblock %}

{% block body %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url({{ article.image }})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <span class="meta">
                            Posted by {{ article.user.username }} on  {{ article.creationDate | date("F d, Y")}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{ article.content }}</p>
                        Placeholder text by <a class="link-primary" target="_blank" href="https://fakerphp.github.io/">FakerPHP</a>
                        &middot; Images by
                        <a class="link-primary" target="_blank" href="https://placeholder.com/">Placeholder</a>
                    </p>
                </div>
            </div>
        </div>
    </article>

    <div class="container mb-4 px-4 px-lg-5">
      <div class="row">
        <div class="col text-center">
            <h1>Comments</h1>
        </div>
      </div>
    </div>

    <!-- Affichage de tous les commentaires de l'article-->
    {% for comment in article.comments %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <p class="post-subtitle">{{comment.content}}</p>
                    <p class="post-meta">
                        Posted by {{ comment.user.username }} on {{ comment.creationDate | date("F d, Y") }}
                    
                    {% if app.user == comment.user %}
                    <a href="{{ path('editComment',{id: comment.id}) }}" class="link-primary">Modifier</a>
                    {% endif %}

                    {% if comment.modificationDate %}
                    Edited on {{ comment.modificationDate | date("F d, Y \\a\\t H:i:s") }}
                    {% endif %}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Formulaire d'ajout d'un commentaire -->
    {% if app.user %}

    {{ form_start(commentForm) }}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-preview">
                    {{ form_row(commentForm.content, {'label' : 'Comment as ' ~ app.user.username ~ ' :', 'attr' : {'placeholder' : "Insert your comment here"} }) }}

                    <div class="container mb-4 px-4 px-lg-5">
                      <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary mt-4">Comment !</button>
                        </div>
                      </div>
                    </div>

                </div>
                <!-- Divider-->
                <hr class="my-4" />
            </div>
        </div>
    </div>
    {{ form_end(commentForm) }}

    {% endif %}


{% endblock %}

